<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- <Syslog appName="sonarAgent" name="lrSysLogAppender" host="localhost" 
            port="514" protocol="UDP"/> -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/api.log"
                     filePattern="logs/api-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="ro.igpr.tickets" level="error"/>
        <Logger name="org.restexpress.domain" level="error"/>
        <Logger name="org.hibernate" level="error"/>
        <Logger name="org.hibernate.SQL" level="error"/>
        <Logger name="org.hibernate.type" level="error"/>

        <logger name="com.zaxxer.hikari" level="error"/>
        <Logger name="org.hibernate.hikaricp" level="error"/>
    </Loggers>
</Configuration>
